.gradle/
local.properties
.idea/workspace.xml
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
build/
app/build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab
# local temp/debug files
.idea/misc.xml
# Android Studio / IntelliJ local project files
build.txt
